*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:30%;
    margin: auto;
}
.row{
    margin: 50px 0 0;
    border: 2px solid #000;
    border-radius: 20px 5px;
}
button{
    font-size: larger;
    width: 75px;
    height: 75px;
    margin: 10px;
}
input{
    font-size: 2rem;
    width: 270px;
    height: auto;
    margin: 12px;
    padding: 8px;
}